<div class="span12">
<div class="row">
  <div class="span6 contact column">
    <div class="contentcolumn">
  <h1>Contact Us</h1>
  <div class="contactdisplay">
   <p>1107 South Mannheim Road, Suite 310<br />Westchester, IL 60154<br />(local) (630) 655-1040<br /><h2>(Toll Free) <a class="hidden-desktop hidden-tablet visible-phone" href="tel:8778811040">877-881-1040</a></h2><h2 class="visible-desktop visible-tablet hidden-phone">877-881-1040</h2><br />(fax) (630) 655-1120<br />
    <br>
    <div class="span3">
    <iframe width="325" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=1107+South+Mannheim+Road,+Suite+310+Westchester,+IL+60154&amp;aq=&amp;sll=41.833733,-87.731964&amp;sspn=0.581186,0.899506&amp;ie=UTF8&amp;hq=&amp;hnear=1107+S+Mannheim+Rd+%23310,+Westchester,+Illinois+60154&amp;t=m&amp;z=14&amp;ll=41.864568,-87.881764&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=1107+South+Mannheim+Road,+Suite+310+Westchester,+IL+60154&amp;aq=&amp;sll=41.833733,-87.731964&amp;sspn=0.581186,0.899506&amp;ie=UTF8&amp;hq=&amp;hnear=1107+S+Mannheim+Rd+%23310,+Westchester,+Illinois+60154&amp;t=m&amp;z=14&amp;ll=41.864568,-87.881764" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  </div>
</div>
</div>
</div>
<div class="span6 contact column">
  <div class="contentcolumn">
  <h1>Email Us</h1>
  <div class="emailform">
<%= form_for @message, :url => contact_path do |form| %>
  <div>
    <%= form.label :nickname %><br/>
    <%= form.text_field :nickname %>
  </div>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.label :email %><br>
      <%= form.text_field :email %>
    </div>
    <div>
      <%= form.label :subject %><br>
      <%= form.text_field :subject %>
    </div>

    <div>
      <%= form.label :body %><br>
      <%= form.text_area :body %>
    </div>

  <div>
    <%= form.submit "Send" %>
  </div>
<% end %>

</div>
</div>
</div>
</div>
</div>
