<div class="container">
 <div id="testimonialcolumn">

      <h1>Hundreds of Satisfied Clients Over The Combined 55 Years of Partner Experience... </h1><br><h1>Tax Relief, Inc. has helped many clients over the years. For obvious privacy reasons, we can't list names, but here are a few samples from the many letters we receive from grateful clients.</h1>
      <%= image_tag asset_path("kim-profile2.jpg"), :alt => "Satisfied Tax Relief Customer 1" %>
    <p><em>"I want to take this opportunity to thank you for all your help. When I learned that I owed the IRS almost $60,000 and the State of Connecticut another $10,000, I didn’t know what I was going to do, or who to call, or what options I had available to me, if any.<br />
You immediately went to work and gave me assurance that you would be able to work out a settlement between me and the two agencies; and you did exactly that. In less than a year’s time, you were able to settle with the IRS for $1,200 and negotiate a reasonable payment plan with the State of Connecticut. I can breathe a sigh of relief knowing that my tax obligation has been (with the IRS), and will be completely satisfied (with the State of Connecticut) in a very short while. Thank you, thank you, thank you."</em></p>
  <%= image_tag asset_path("Jason Profile.jpg"), :class => "jason", :alt => "Satisfied Tax Relief Customer 2" %>
   <p><em>"Thank you for bringing finality to my past tax problems with the Internal Revenue Service. You did exactly what you said you would - and in a   relatively short period of time. I also appreciated your feedback on what to do with letters from the IRS after the settlement had been accepted. Your guidance has given me a peace of mind that I haven't had for years."</em></p>
   <%= image_tag asset_path("megan profile.jpg"), :alt => "Satisfied Tax Relief Customer 3", :class => "megan" %>
      <p><em>"Thank you for handling   my tax problems and putting up with my ravings. If not for your involvement, my temper would certainly have gotten in the way, dealing with the IRS. Your professionalism in these matters, the time you spent explaining details, as well as the personal treatment afforded me, speaks of your concern for my case."</em></p>
      <%= image_tag asset_path("craig profile.jpg"), :alt => "Satisfied Tax Relief Customer 4", :class => "craig" %>
     <p><em>"Through a series of unfortunate circumstances I found myself owing over $40,000 in back taxes, but due to your concerted efforts an Offer in Compromise was reached for $2,400 payable in three installments. This was a great relief to me because I would never have been able to reach a settlement with the IRS on my own."</em></p>
     <%= image_tag asset_path("Rosa profile.jpg"), :alt => "Satisfied Tax Relief Customer 5", :class => "rosa" %>
    <p><em>"I can't say enough good things about the professional support I received from TRI over the months and years since we began working together. You were always responsive to my unending questions and concerns as we worked away at the long list of tax/agency issues."</em></p>
    <%= image_tag asset_path("ray profile.jpg"), :alt => "Satisfied Tax Relief Customer 6", :class => "ray" %>
    <p><em>"I wanted to thank you for the help I received with both my federal and state income taxes. You negotiated a substantial savings on my federal taxes well beyond what I negotiated for myself. You saved me $15,000, which is an additional 68%, from   what I negotiated in my Offer in Compromise."</em></p>
<p class="faqbottom">Contact us to schedule your free consultation today.</p>
<p class="faqbottomnumber">877.881.1040</p>
 </div>
</div>
