<!DOCTYPE html>
<html>
<head>
  <title>Tax Relief Inc.</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--[if lt IE 9]>
<script src="dist/html5shiv.js"></script>
<![endif]-->

</head>
<body>
   <div id="masthead">
    <div class="container">
      <div class="row">
      <div class="logo span6">
        <div class="contentcolumnslogan">
      <%= image_tag asset_url("highresolutionlogo.png"), alt: "Tax Relief", size: "296x83" %>
    </div>
  </div>
    <div class="slogan span6">
      <div class="contentcolumnslogan">
      <h3><strong>Your Tax Relief Partner<br> Call <a class="hidden-desktop hidden-tablet visible-phone" href="tel:8778811040"><h3>877-881-1040</a></h3><h3 class="visible-desktop visible-tablet hidden-phone">877-881-1040</h3><br>
<a href="mailto:joe@taxreliefinc.com" class="hidden-desktop">Email Us</a>

      <div class="social_media">
<a href="https://twitter.com/share" class="twitter-share-button" data-via="TaxReliefIncIl">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script><!-- Place this tag where you want the +1 button to render. -->
<div class="g-plusone" data-size="medium" data-annotation="inline" data-width="300"></div>
<!-- Place this tag after the last +1 button tag. -->
</div>
</div>

    </div>
    </div>
  </div>
  </div>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>

        </a>
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">
            <li><%= link_to "Home", home_path %></li>
            <li><%= link_to "Services", services_path %></li>
            <li><%= link_to "Firm", firm_path %></li>
            <li><%= link_to "Updates", posts_path %></li>
            <li><%= link_to "Testimonials", testimonials_path %></li>
            <li><%= link_to "FAQs", faqs_path %></li>
            <li><%= link_to "Contact Us", contact_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


<div class="backgroundcolor">
    <div class="container">
<%= yield %>
</div>
</div>
<div class="footerbottom">
  <div class ="container">
  <h3>&#169 2014 Tax Relief Inc.<br> Call <a class="hidden-desktop hidden-tablet visible-phone" href="tel:8778811040"><h3>877-881-1040</a></h3><h3 class="visible-desktop visible-tablet hidden-phone">877-881-1040</h3><br>
  <%= link_to "Sign In", new_user_session_path  %> <%= link_to "Privacy Policy", privacy_path %> <%= link_to "Terms of Use", terms_of_use_path %>
</div>
  </div>

</body>
</html>
